<ion-header [translucent]="true">
  <ion-toolbar style="--background: #222529; --color: white;">
    <ion-title>ƎP Dev Portfolio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  @if (mapService.publicMaps.isLoading()) {
    <div style="display: flex; flex-direction: column; align-items: center; margin-top: 50px;">
      <ion-spinner name="dots"></ion-spinner>
      <p>Querying Cartes.io satellites..</p>
    </div>
  }

  @if(mapService.publicMaps.value(); as maps) {
    <ion-list>
      @for (map of maps; track map.uuid) {
        <ion-item button (click)="goToDetail(map.uuid)">
          <ion-label>
            <h2>{{ map.title || 'Official Portfolio' }}</h2>
            <p>International Web & App Projects</p>
          </ion-label>
          </ion-item>
      }
    </ion-list>
  } @else if (mapService.publicMaps.error()) {
    <ion-item color="danger">
      <ion-label>Error loading data</ion-label>
    </ion-item>
  }
</ion-content>
